<div class="text-center">
<h2>{{project.make}}</h2>
<h3>{{project.model}}</h3>
<h3>{{project.year}}</h3>
<h3>{{project.color}}</h3>
<h3>{{project.mileage}}</h3>
<h3>{{project.vin}}</h3>

 <!--
  <p>{{make}}</p>
  <p>{{model}}</p>
  <p>{{year}}</p>
  <p>{{color}}</p>
  <p>{{mileage}}</p>
  <p>{{vin}}</p>
-->
  <p>Owned by: {{user.name}}</p>
  <p>
    <button class="btn btn-primary">Fund this Project!</button>
  </p>
</div>
