
<div class="text-center">
<br>
<h2>{{project.make}}</h2>
<h3>{{project.model}}</h3>
<h3>{{project.year}}</h3>
<h3>{{project.color}}</h3>
<h3>{{project.mileage}}</h3>
<h3>{{project.vin}}</h3>
<br>
  <p>Owned by: {{user.name}}</p>
</div>

