<div class="text-center">
<br>
<h2>Make: {{make}}</h2>
<h3>Model: {{model}}</h3>
<h3>Year: {{year}}</h3>
<h3>Color: {{color}}</h3>
<h3>Mileage: {{mileage}}</h3>
<h3>VIN: {{vin}}</h3>
<br>
  <p>Owned by: {{user.name}}</p>
</div>

