<div class="text-center">
<br>
<h2>Make: {{make}}</h2>
<h3>Model: {{model}}</h3>
<h3>Year: {{year}}</h3>
<h3>Color: {{color}}</h3>
<h3>Mileage: {{mileage}}</h3>
<h3>VIN: {{vin}}</h3>
<br>
  <p>Owned by: {{user.name}}</p>
</div>
<section class="text-center">
    <h3>Service Log Entry</h3>
    <div>

      <label for="log">Service Performed:</label>
      <form>
        <input type="text" placeholder="Enter service performed" />
      </form>

      <label for="mileage">Date:</label>
      <form>
        <input type="text" placeholder="Enter date of service" />
      </form>

      <label for="vin">Mileage:</label>
      <form>
        <input type="text" placeholder="Enter mileage at the time of service" />
      </form>

      <button class="button">Add Service Log</button>

    </div>

  </section>
