<section>
    <div class="login-box">
        <h3>
            <span style="color:white">Logged in as:</span>
            <span style="color:#3A6BEB">{{name}}</span>
        </h3>
    </div>
</section>

<section>
    <div class="card">
        <div class="vehicle">
            <p>Vehicle Details</p>
        </div>
        <div class="container">
            <p>{{make}}:</p>
            <p>{{model}}:</p>
            <p>{{year}}:</p>
            <p>{{color}}:</p>
            <p>{{mileage}}:</p>
            <p>{{vin}}:</p>
            <p>{{logCount}}:</p>
        </div>
    </div>
</section>


<section>
    <h3>Service Log Entry</h3>
    <div>

        <label for="log">Service Performed:</label>
        <form>
            <input type="text" placeholder="Enter service performed" />
        </form>

        <label for="mileage">Date:</label>
        <form>
            <input type="text" placeholder="Enter date of service" />
        </form>

        <label for="vin">Mileage:</label>
        <form>
            <input type="text" placeholder="Enter mileage at the time of service" />
        </form>

        <form>
            <input type="submit" value="Add Service Log">
        </form>
    </div>

</section>

<section>
    <div class="logcard">
        <div class="logentry">
        </div>
        <div class="logcontainer">
        </div>
    </div>
</section>

